\c {{ 'DB_REF_REFERENCE_DBNAME' | env }}
CREATE SCHEMA {{ 'DB_REF_REFERENCE_SCHEMA' | env }} AUTHORIZATION {{ 'DB_REF_REFERENCE_OWNER_USERNAME' | env }};
CREATE SCHEMA {{ 'DB_REF_GOVERNANCE_SCHEMA' | env }} AUTHORIZATION {{ 'DB_REF_GOVERNANCE_OWNER_USERNAME' | env }};
CREATE EXTENSION IF NOT EXISTS "uuid-ossp" SCHEMA {{ 'DB_REF_GOVERNANCE_SCHEMA' | env }};
DROP SCHEMA public;
\c {{ 'DB_REF_DEFAULT_DBNAME' | env }}
REVOKE {{ 'DB_REF_REFERENCE_OWNER_USERNAME' | env }} FROM {{ 'DB_REF_DEFAULT_USERNAME' | env }};
REVOKE {{ 'DB_REF_GOVERNANCE_OWNER_USERNAME' | env }} FROM {{ 'DB_REF_DEFAULT_USERNAME' | env }};
\q