\c {{ 'FLYWAY_PLACEHOLDERS_REFERENCEDBNAME' | env }}
CREATE SCHEMA {{ 'FLYWAY_PLACEHOLDERS_REFERENCESCHEMA' | env }} AUTHORIZATION {{ 'FLYWAY_PLACEHOLDERS_REFERENCEOWNERNAME' | env }};
CREATE SCHEMA {{ 'FLYWAY_PLACEHOLDERS_GOVERNANCESCHEMA' | env }} AUTHORIZATION {{ 'FLYWAY_PLACEHOLDERS_GOVERNANCEOWNERNAME' | env }};
CREATE EXTENSION IF NOT EXISTS "uuid-ossp" SCHEMA governance;
DROP SCHEMA public;
\c {{ 'POSTGRES_DB' | env }}
REVOKE {{ 'FLYWAY_PLACEHOLDERS_REFERENCEOWNERNAME' | env }} FROM {{ 'FLYWAY_INIT_USER' | env }};
REVOKE {{ 'FLYWAY_PLACEHOLDERS_GOVERNANCEOWNERNAME' | env }} FROM {{ 'FLYWAY_INIT_USER' | env }};
\q