/*
  MINISTRY
*/

CREATE TEMP TABLE tmpministry AS SELECT * FROM ministry WITH NO DATA;

COPY tmpministry FROM STDIN CSV HEADER;
{% include ministry %}

\.

INSERT INTO ministry
  SELECT  *
    FROM tmpministry
  ON CONFLICT (id) DO
    UPDATE
      SET
        name = EXCLUDED.name,
        code = EXCLUDED.code,
        validfrom = EXCLUDED.validfrom,
        validto = EXCLUDED.validto;

DROP TABLE tmpministry;



/*
 DEPARTMENT
*/

CREATE TEMP TABLE tmpdepartment AS SELECT * FROM department WITH NO DATA;

COPY tmpdepartment FROM STDIN CSV HEADER;
{% include department %}

\.

INSERT INTO department
  SELECT  *
  FROM tmpdepartment
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    ministryid = EXCLUDED.ministryid,
    code = EXCLUDED.code,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpdepartment;



/*
 DIRECTORATE
*/

CREATE TEMP TABLE tmpdirectorate AS SELECT * FROM directorate WITH NO DATA;

COPY tmpdirectorate FROM STDIN CSV HEADER;
{% include directorate %}

\.

INSERT INTO directorate
  SELECT  *
  FROM tmpdirectorate
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    departmentid = EXCLUDED.departmentid,
    code = EXCLUDED.code,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpdirectorate;



/*
 BRANCH
*/

CREATE TEMP TABLE tmpbranch AS SELECT * FROM branch WITH NO DATA;

COPY tmpbranch FROM STDIN CSV HEADER;
{% include branch %}

\.

INSERT INTO branch
  SELECT  *
  FROM tmpbranch
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    directorateid = EXCLUDED.directorateid,
    code = EXCLUDED.code,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpbranch;



/*
 GENDER
*/

CREATE TEMP TABLE tmpgender AS SELECT * FROM gender WITH NO DATA;

COPY tmpgender FROM STDIN CSV HEADER;
{% include gender %}

\.

INSERT INTO gender
  SELECT  *
  FROM tmpgender
ON CONFLICT (id) DO
UPDATE
  SET
    gender = EXCLUDED.gender;

DROP TABLE tmpgender;



/*
 SEX
*/

CREATE TEMP TABLE tmpsex AS SELECT * FROM sex WITH NO DATA;

COPY tmpsex FROM STDIN CSV HEADER;
{% include sex %}

\.

INSERT INTO sex
  SELECT  *
  FROM tmpsex
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name;

DROP TABLE tmpsex;



/*
 TITLE
*/

CREATE TEMP TABLE tmptitle AS SELECT * FROM title WITH NO DATA;

COPY tmptitle FROM STDIN CSV HEADER;
{% include title %}

\.

INSERT INTO title
  SELECT  *
  FROM tmptitle
ON CONFLICT (id) DO
UPDATE
  SET
    title = EXCLUDED.title;

DROP TABLE tmptitle;



/*
 ETHNICITY
*/

CREATE TEMP TABLE tmpethnicity AS SELECT * FROM ethnicity WITH NO DATA;

COPY tmpethnicity FROM STDIN CSV HEADER;
{% include ethnicity %}

\.

INSERT INTO ethnicity
  SELECT  *
  FROM tmpethnicity
ON CONFLICT (id) DO
UPDATE
  SET
    ethnicity = EXCLUDED.ethnicity,
    subethnicity = EXCLUDED.subethnicity;

DROP TABLE tmpethnicity;



/*
 MARITAL
*/

CREATE TEMP TABLE tmpmarital AS SELECT * FROM marital WITH NO DATA;

COPY tmpmarital FROM STDIN CSV HEADER;
{% include marital %}

\.

INSERT INTO marital
  SELECT  *
  FROM tmpmarital
ON CONFLICT (id) DO
UPDATE
  SET
    code = EXCLUDED.code,
    description = EXCLUDED.description;

DROP TABLE tmpmarital;



/*
 RELIGION
*/

CREATE TEMP TABLE tmpreligion AS SELECT * FROM religion WITH NO DATA;

COPY tmpreligion FROM STDIN CSV HEADER;
{% include religion %}

\.

INSERT INTO religion
  SELECT  *
  FROM tmpreligion
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name;

DROP TABLE tmpreligion;



/*
 COUNTRY
*/

CREATE TEMP TABLE tmpcountry AS SELECT * FROM country WITH NO DATA;

COPY tmpcountry FROM STDIN CSV HEADER;
{% include country %}

\.

INSERT INTO country
  SELECT  *
  FROM tmpcountry
ON CONFLICT (id) DO
UPDATE
  SET
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    iso31661alpha3 = EXCLUDED.iso31661alpha3,
    name = EXCLUDED.name,
    continent = EXCLUDED.continent,
    dial = EXCLUDED.dial,
    iso31661numeric = EXCLUDED.iso31661numeric,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpcountry;



/*
 NATIONALITY
*/

CREATE TEMP TABLE tmpnationality AS SELECT * FROM nationality WITH NO DATA;

COPY tmpnationality FROM STDIN CSV HEADER;
{% include nationality %}

\.

INSERT INTO nationality
  SELECT  *
  FROM tmpnationality
ON CONFLICT (id) DO
UPDATE
  SET
    iso31661alpha3 = EXCLUDED.iso31661alpha3,
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    nationality = EXCLUDED.nationality,
    visarequired = EXCLUDED.visarequired,
    evwoptional = EXCLUDED.evwoptional,
    diplomaticexception = EXCLUDED.diplomaticexception,
    specialexception = EXCLUDED.specialexception,
    countryid = EXCLUDED.countryid,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpnationality;



/*
 CURRENCY
*/

CREATE TEMP TABLE tmpcurrency AS SELECT * FROM currency WITH NO DATA;

COPY tmpcurrency FROM STDIN CSV HEADER;
{% include currency %}

\.

INSERT INTO currency
  SELECT  *
  FROM tmpcurrency
ON CONFLICT (id) DO
UPDATE
  SET
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    currency = EXCLUDED.currency,
    currencycode = EXCLUDED.currencycode,
    countryid = EXCLUDED.countryid,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpcurrency;



/*
 BFFUNCTIONTYPES
*/

CREATE TEMP TABLE tmpbffunctiontypes AS SELECT * FROM bffunctiontypes WITH NO DATA;

COPY tmpbffunctiontypes FROM STDIN CSV HEADER;
{% include bffunctiontypes %}

\.

INSERT INTO bffunctiontypes
  SELECT  *
  FROM tmpbffunctiontypes
ON CONFLICT (id) DO
UPDATE
  SET
    bffunction = EXCLUDED.bffunction;

DROP TABLE tmpbffunctiontypes;



/*
 BFLOCATIONTYPE
*/

CREATE TEMP TABLE tmpbflocationtype AS SELECT * FROM bflocationtype WITH NO DATA;

COPY tmpbflocationtype FROM STDIN CSV HEADER;
{% include bflocationtype %}

\.

INSERT INTO bflocationtype
  SELECT  *
  FROM tmpbflocationtype
ON CONFLICT (id) DO
UPDATE
  SET
    seaport = EXCLUDED.seaport,
    railterminal = EXCLUDED.railterminal,
    airport = EXCLUDED.airport,
    postexchange = EXCLUDED.postexchange,
    multimodal = EXCLUDED.multimodal,
    fixedtransport = EXCLUDED.fixedtransport,
    bordercrossing = EXCLUDED.bordercrossing,
    roadterminal = EXCLUDED.roadterminal,
    portclassification = EXCLUDED.portclassification,
    description = EXCLUDED.description;

DROP TABLE tmpbflocationtype;



/*
 CARRIERLIST
*/

CREATE TEMP TABLE tmpcarrierlist AS SELECT * FROM carrierlist WITH NO DATA;

COPY tmpcarrierlist FROM STDIN CSV HEADER;
{% include carrierlist %}

\.

INSERT INTO carrierlist
  SELECT  *
  FROM tmpcarrierlist
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    twolettercode = EXCLUDED.twolettercode,
    designator = EXCLUDED.designator,
    alliance = EXCLUDED.alliance,
    aviation = EXCLUDED.aviation,
    maritime = EXCLUDED.maritime;

DROP TABLE tmpcarrierlist;



/*
 COMPETENCE
*/

CREATE TEMP TABLE tmpcompetence AS SELECT * FROM competence WITH NO DATA;

COPY tmpcompetence FROM STDIN CSV HEADER;
{% include competence %}

\.

INSERT INTO competence
  SELECT  *
  FROM tmpcompetence
ON CONFLICT (id) DO
UPDATE
  SET
    description = EXCLUDED.description,
    competence = EXCLUDED.competence;

DROP TABLE tmpcompetence;


/*
 CREWROLE
*/

CREATE TEMP TABLE tmpcrewrole AS SELECT * FROM crewrole WITH NO DATA;

COPY tmpcrewrole FROM STDIN CSV HEADER;
{% include crewrole %}

\.

INSERT INTO crewrole
  SELECT  *
  FROM tmpcrewrole
ON CONFLICT (id) DO
UPDATE
  SET
    description = EXCLUDED.description,
    name = EXCLUDED.name;


DROP TABLE tmpcrewrole;



/*
 CRIMINALRECORDTYPE
*/

CREATE TEMP TABLE tmpcriminalrecordtype AS SELECT * FROM criminalrecordtype WITH NO DATA;

COPY tmpcriminalrecordtype FROM STDIN CSV HEADER;
{% include criminalrecordtype %}

\.

INSERT INTO criminalrecordtype
  SELECT  *
  FROM tmpcriminalrecordtype
ON CONFLICT (id) DO
UPDATE
  SET
    recordname = EXCLUDED.recordname;

DROP TABLE tmpcriminalrecordtype;



/*
 DOCUMENTTYPE
*/

CREATE TEMP TABLE tmpdocumenttype AS SELECT * FROM documenttype WITH NO DATA;

COPY tmpdocumenttype FROM STDIN CSV HEADER;
{% include documenttype %}

\.

INSERT INTO documenttype
  SELECT  *
  FROM tmpdocumenttype
ON CONFLICT (id) DO
UPDATE
  SET
    code = EXCLUDED.code,
    shortdescription = EXCLUDED.shortdescription,
    longdescription = EXCLUDED.longdescription;

DROP TABLE tmpdocumenttype;



/*
 DOGROLE
*/

CREATE TEMP TABLE tmpdogrole AS SELECT * FROM dogrole WITH NO DATA;

COPY tmpdogrole FROM STDIN CSV HEADER;
{% include dogrole %}

\.

INSERT INTO dogrole
  SELECT  *
  FROM tmpdogrole
ON CONFLICT (id) DO
UPDATE
  SET
    code = EXCLUDED.code,
    description = EXCLUDED.description;

DROP TABLE tmpdogrole;



/*
 EMPLOYMENTTYPES
*/

CREATE TEMP TABLE tmpemploymenttypes AS SELECT * FROM employmenttypes WITH NO DATA;

COPY tmpemploymenttypes FROM STDIN CSV HEADER;
{% include employmenttypes %}

\.

INSERT INTO employmenttypes
  SELECT  *
  FROM tmpemploymenttypes
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name;

DROP TABLE tmpemploymenttypes;



/*
 EVENTSTATUS
*/

CREATE TEMP TABLE tmpeventstatus AS SELECT * FROM eventstatus WITH NO DATA;

COPY tmpeventstatus FROM STDIN CSV HEADER;
{% include eventstatus %}

\.

INSERT INTO eventstatus
  SELECT  *
  FROM tmpeventstatus
ON CONFLICT (id) DO
UPDATE
  SET
    status = EXCLUDED.status;

DROP TABLE tmpeventstatus;



/*
 FINANCIALINSTRUMENT
*/

CREATE TEMP TABLE tmpfinancialinstrument AS SELECT * FROM financialinstrument WITH NO DATA;

COPY tmpfinancialinstrument FROM STDIN CSV HEADER;
{% include financialinstrument %}

\.

INSERT INTO financialinstrument
  SELECT  *
  FROM tmpfinancialinstrument
ON CONFLICT (id) DO
UPDATE
  SET
    type = EXCLUDED.type,
    description = EXCLUDED.description;

DROP TABLE tmpfinancialinstrument;



/*
 GEOGRAPHICREGION
*/

CREATE TEMP TABLE tmpgeographicregion AS SELECT * FROM geographicregion WITH NO DATA;

COPY tmpgeographicregion FROM STDIN CSV HEADER;
{% include geographicregion %}

\.

INSERT INTO geographicregion
  SELECT  *
  FROM tmpgeographicregion
ON CONFLICT (id) DO
UPDATE
  SET
    code = EXCLUDED.code,
    name = EXCLUDED.name,
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    countryid = EXCLUDED.countryid,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpgeographicregion;



/*
 GRADE
*/

CREATE TEMP TABLE tmpgrade AS SELECT * FROM grade WITH NO DATA;

COPY tmpgrade FROM STDIN CSV HEADER;
{% include grade %}

\.

INSERT INTO grade
  SELECT  *
  FROM tmpgrade
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    parentgradetypeid = EXCLUDED.parentgradetypeid;

DROP TABLE tmpgrade;



/*
 ICAO
*/

CREATE TEMP TABLE tmpicao AS SELECT * FROM icao WITH NO DATA;

COPY tmpicao FROM STDIN CSV HEADER;
{% include icao %}

\.

INSERT INTO icao
  SELECT  *
  FROM tmpicao
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    iata = EXCLUDED.iata,
    municipality = EXCLUDED.municipality,
    icao = EXCLUDED.icao,
    geolat = EXCLUDED.geolat,
    geolong = EXCLUDED.geolong,
    type = EXCLUDED.type,
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    countryid = EXCLUDED.countryid,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;

DROP TABLE tmpicao;



/*
 LEGTYPES
*/

CREATE TEMP TABLE tmplegtypes AS SELECT * FROM legtypes WITH NO DATA;

COPY tmplegtypes FROM STDIN CSV HEADER;
{% include legtypes %}

\.

INSERT INTO legtypes
  SELECT  *
  FROM tmplegtypes
ON CONFLICT (id) DO
UPDATE
  SET
    description = EXCLUDED.description;

DROP TABLE tmplegtypes;



/*
 MODEOFTRANSPORT
*/

CREATE TEMP TABLE tmpmodeoftransport AS SELECT * FROM modeoftransport WITH NO DATA;

COPY tmpmodeoftransport FROM STDIN CSV HEADER;
{% include modeoftransport %}

\.

INSERT INTO modeoftransport
  SELECT  *
  FROM tmpmodeoftransport
ON CONFLICT (id) DO
UPDATE
  SET
    type = EXCLUDED.type;

DROP TABLE tmpmodeoftransport;



/*
 MODETYPES
*/

CREATE TEMP TABLE tmpmodetypes AS SELECT * FROM modetypes WITH NO DATA;

COPY tmpmodetypes FROM STDIN CSV HEADER;
{% include modetypes %}

\.

INSERT INTO modetypes
  SELECT  *
  FROM tmpmodetypes
ON CONFLICT (id) DO
UPDATE
  SET
    class = EXCLUDED.class;

DROP TABLE tmpmodetypes;



/*
 TARGETGROUP
*/

CREATE TEMP TABLE tmptargetgroup AS SELECT * FROM targetgroup WITH NO DATA;

COPY tmptargetgroup FROM STDIN CSV HEADER;
{% include targetgroup %}

\.

INSERT INTO targetgroup
  SELECT  *
  FROM tmptargetgroup
ON CONFLICT (id) DO
UPDATE
  SET
    type = EXCLUDED.type;

DROP TABLE tmptargetgroup;



/*
 TDAAPPROVALSTATUS
*/

CREATE TEMP TABLE tmptdaapprovalstatus AS SELECT * FROM tdaapprovalstatus WITH NO DATA;

COPY tmptdaapprovalstatus FROM STDIN CSV HEADER;
{% include tdaapprovalstatus %}

\.

INSERT INTO tdaapprovalstatus
  SELECT  *
  FROM tmptdaapprovalstatus
ON CONFLICT (id) DO
UPDATE
  SET
    status = EXCLUDED.status;

DROP TABLE tmptdaapprovalstatus;



/*
 TDAREASONS
*/

CREATE TEMP TABLE tmptdareasons AS SELECT * FROM tdareasons WITH NO DATA;

COPY tmptdareasons FROM STDIN CSV HEADER;
{% include tdareasons %}

\.

INSERT INTO tdareasons
  SELECT  *
  FROM tmptdareasons
ON CONFLICT (id) DO
UPDATE
  SET
    reason = EXCLUDED.reason;

DROP TABLE tmptdareasons;



/*
 TECHNICALPROJECTSTATUS
*/

CREATE TEMP TABLE tmptechnicalprojectstatus AS SELECT * FROM technicalprojectstatus WITH NO DATA;

COPY tmptechnicalprojectstatus FROM STDIN CSV HEADER;
{% include technicalprojectstatus %}

\.

INSERT INTO technicalprojectstatus
  SELECT  *
  FROM tmptechnicalprojectstatus
ON CONFLICT (id) DO
UPDATE
  SET
    status = EXCLUDED.status;

DROP TABLE tmptechnicalprojectstatus;



/*
 UNLOCODE
*/

CREATE TEMP TABLE tmpunlocode AS SELECT * FROM unlocode WITH NO DATA;

COPY tmpunlocode FROM STDIN CSV HEADER;
{% include unlocode %}

\.

INSERT INTO unlocode
  SELECT  *
  FROM tmpunlocode
ON CONFLICT (id) DO
UPDATE
  SET
    geolong = EXCLUDED.geolong,
    geolat = EXCLUDED.geolat,
    name = EXCLUDED.name,
    namewodiacritics = EXCLUDED.namewodiacritics,
    iata = EXCLUDED.iata,
    locode = EXCLUDED.locode,
    seaport = EXCLUDED.seaport,
    railterminal = EXCLUDED.railterminal,
    airport = EXCLUDED.airport,
    postexchange = EXCLUDED.postexchange,
    multimodal = EXCLUDED.multimodal,
    fixedtransport = EXCLUDED.fixedtransport,
    bordercrossing = EXCLUDED.bordercrossing,
    subdivision = EXCLUDED.subdivision,
    roadterminal = EXCLUDED.roadterminal,
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    countryid = EXCLUDED.countryid,
    validfrom = EXCLUDED.validfrom,
    validto = EXCLUDED.validto;
;

DROP TABLE tmpunlocode;



/*
 WORKAREA
*/

CREATE TEMP TABLE tmpworkarea AS SELECT * FROM workarea WITH NO DATA;

COPY tmpworkarea FROM STDIN CSV HEADER;
{% include workarea %}

\.


INSERT INTO workarea
  SELECT  *
  FROM tmpworkarea
ON CONFLICT (id) DO
UPDATE
  SET
    area = EXCLUDED.area;

DROP TABLE tmpworkarea;

/*
 SECURITYCLEARANCE
*/

CREATE TEMP TABLE tmpsecurityclearance AS SELECT * FROM securityclearance WITH NO DATA;

COPY tmpsecurityclearance FROM STDIN CSV HEADER;
{% include securityclearance %}

\.


INSERT INTO securityclearance
  SELECT  *
  FROM tmpsecurityclearance
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    description = EXCLUDED.description,
    validfrom = Excluded.validfrom,
    validto = Excluded.validto;

DROP TABLE tmpsecurityclearance;
