/*
  MINISTRY
*/

CREATE TEMP TABLE tmpministry AS SELECT * FROM ministry WITH NO DATA;

COPY tmpministry FROM STDIN CSV HEADER;
{% include ministry %}

\.

INSERT INTO ministry
  SELECT  *
    FROM tmpministry
  ON CONFLICT (id) DO
    UPDATE
      SET name = EXCLUDED.name;

DROP TABLE tmpministry;



/*
 DEPARTMENT
*/

CREATE TEMP TABLE tmpdepartment AS SELECT * FROM department WITH NO DATA;

COPY tmpdepartment FROM STDIN CSV HEADER;
{% include department %}

\.

INSERT INTO department
  SELECT  *
  FROM tmpdepartment
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    ministryid = EXCLUDED.ministryid;

DROP TABLE tmpdepartment;



/*
 DIRECTORATE
*/

CREATE TEMP TABLE tmpdirectorate AS SELECT * FROM directorate WITH NO DATA;

COPY tmpdirectorate FROM STDIN CSV HEADER;
{% include directorate %}

\.

INSERT INTO directorate
  SELECT  *
  FROM tmpdirectorate
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    departmentid = EXCLUDED.departmentid;

DROP TABLE tmpdirectorate;



/*
 BRANCH
*/

CREATE TEMP TABLE tmpbranch AS SELECT * FROM branch WITH NO DATA;

COPY tmpbranch FROM STDIN CSV HEADER;
{% include branch %}

\.

INSERT INTO branch
  SELECT  *
  FROM tmpbranch
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    directorateid = EXCLUDED.directorateid;

DROP TABLE tmpbranch;



/*
 GENDER
*/

CREATE TEMP TABLE tmpgender AS SELECT * FROM gender WITH NO DATA;

COPY tmpgender FROM STDIN CSV HEADER;
{% include gender %}

\.

INSERT INTO gender
  SELECT  *
  FROM tmpgender
ON CONFLICT (id) DO
UPDATE
  SET
    gender = EXCLUDED.gender;

DROP TABLE tmpgender;



/*
 SEX
*/

CREATE TEMP TABLE tmpsex AS SELECT * FROM sex WITH NO DATA;

COPY tmpsex FROM STDIN CSV HEADER;
{% include sex %}

\.

INSERT INTO sex
  SELECT  *
  FROM tmpsex
ON CONFLICT (sexcharacter) DO
UPDATE
  SET
    name = EXCLUDED.name;

DROP TABLE tmpsex;



/*
 TITLE
*/

CREATE TEMP TABLE tmptitle AS SELECT * FROM title WITH NO DATA;

COPY tmptitle FROM STDIN CSV HEADER;
{% include title %}

\.

INSERT INTO title
  SELECT  *
  FROM tmptitle
ON CONFLICT (id) DO
UPDATE
  SET
    title = EXCLUDED.title;

DROP TABLE tmptitle;