/*
  MINISTRY
*/

CREATE TEMP TABLE tmpministry AS SELECT * FROM ministry WITH NO DATA;

COPY tmpministry FROM STDIN CSV HEADER;
{% include ministry %}

\.

INSERT INTO ministry
  SELECT  *
    FROM tmpministry
  ON CONFLICT (id) DO
    UPDATE
      SET name = EXCLUDED.name;

DROP TABLE tmpministry;



/*
 DEPARTMENT
*/

CREATE TEMP TABLE tmpdepartment AS SELECT * FROM department WITH NO DATA;

COPY tmpdepartment FROM STDIN CSV HEADER;
{% include department %}

\.

INSERT INTO department
  SELECT  *
  FROM tmpdepartment
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    ministryid = EXCLUDED.ministryid;

DROP TABLE tmpdepartment;



/*
 DIRECTORATE
*/

CREATE TEMP TABLE tmpdirectorate AS SELECT * FROM directorate WITH NO DATA;

COPY tmpdirectorate FROM STDIN CSV HEADER;
{% include directorate %}

\.

INSERT INTO directorate
  SELECT  *
  FROM tmpdirectorate
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    departmentid = EXCLUDED.departmentid;

DROP TABLE tmpdirectorate;



/*
 BRANCH
*/

CREATE TEMP TABLE tmpbranch AS SELECT * FROM branch WITH NO DATA;

COPY tmpbranch FROM STDIN CSV HEADER;
{% include branch %}

\.

INSERT INTO branch
  SELECT  *
  FROM tmpbranch
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name,
    directorateid = EXCLUDED.directorateid;

DROP TABLE tmpbranch;



/*
 GENDER
*/

CREATE TEMP TABLE tmpgender AS SELECT * FROM gender WITH NO DATA;

COPY tmpgender FROM STDIN CSV HEADER;
{% include gender %}

\.

INSERT INTO gender
  SELECT  *
  FROM tmpgender
ON CONFLICT (id) DO
UPDATE
  SET
    gender = EXCLUDED.gender;

DROP TABLE tmpgender;



/*
 SEX
*/

CREATE TEMP TABLE tmpsex AS SELECT * FROM sex WITH NO DATA;

COPY tmpsex FROM STDIN CSV HEADER;
{% include sex %}

\.

INSERT INTO sex
  SELECT  *
  FROM tmpsex
ON CONFLICT (sexcharacter) DO
UPDATE
  SET
    name = EXCLUDED.name;

DROP TABLE tmpsex;



/*
 TITLE
*/

CREATE TEMP TABLE tmptitle AS SELECT * FROM title WITH NO DATA;

COPY tmptitle FROM STDIN CSV HEADER;
{% include title %}

\.

INSERT INTO title
  SELECT  *
  FROM tmptitle
ON CONFLICT (id) DO
UPDATE
  SET
    title = EXCLUDED.title;

DROP TABLE tmptitle;



/*
 ETHNICITY
*/

CREATE TEMP TABLE tmpethnicity AS SELECT * FROM ethnicity WITH NO DATA;

COPY tmpethnicity FROM STDIN CSV HEADER;
{% include ethnicity %}

\.

INSERT INTO ethnicity
  SELECT  *
  FROM tmpethnicity
ON CONFLICT (id) DO
UPDATE
  SET
    ethnicity = EXCLUDED.ethnicity,
    subethnicity = EXCLUDED.subethnicity;

DROP TABLE tmpethnicity;



/*
 MARITAL
*/

CREATE TEMP TABLE tmpmarital AS SELECT * FROM marital WITH NO DATA;

COPY tmpmarital FROM STDIN CSV HEADER;
{% include marital %}

\.

INSERT INTO marital
  SELECT  *
  FROM tmpmarital
ON CONFLICT (id) DO
UPDATE
  SET
    code = EXCLUDED.code,
    description = EXCLUDED.description;

DROP TABLE tmpmarital;



/*
 RELIGION
*/

CREATE TEMP TABLE tmpreligion AS SELECT * FROM religion WITH NO DATA;

COPY tmpreligion FROM STDIN CSV HEADER;
{% include religion %}

\.

INSERT INTO religion
  SELECT  *
  FROM tmpreligion
ON CONFLICT (id) DO
UPDATE
  SET
    name = EXCLUDED.name;

DROP TABLE tmpreligion;



/*
 COUNTRY
*/

CREATE TEMP TABLE tmpcountry AS SELECT * FROM country WITH NO DATA;

COPY tmpcountry FROM STDIN CSV HEADER;
{% include country %}

\.

INSERT INTO country
  SELECT  *
  FROM tmpcountry
ON CONFLICT (id) DO
UPDATE
  SET
    iso31661alpha3 = EXCLUDED.iso31661alpha3,
    name = EXCLUDED.name,
    continent = EXCLUDED.continent,
    dial = EXCLUDED.dial,
    iso31661numeric = EXCLUDED.iso31661numeric;

DROP TABLE tmpcountry;



/*
 NATIONALITY
*/

CREATE TEMP TABLE tmpnationality AS SELECT * FROM nationality WITH NO DATA;

COPY tmpnationality FROM STDIN CSV HEADER;
{% include nationality %}

\.

INSERT INTO nationality
  SELECT  *
  FROM tmpnationality
ON CONFLICT (id) DO
UPDATE
  SET
    iso31661alpha3 = EXCLUDED.iso31661alpha3,
    iso31661alpha2 = EXCLUDED.iso31661alpha2,
    nationality = EXCLUDED.nationality,
    visarequired = EXCLUDED.visarequired,
    evwoptional = EXCLUDED.evwoptional,
    diplomaticexception = EXCLUDED.diplomaticexception,
    specialexception = EXCLUDED.specialexception;

DROP TABLE tmpnationality;



/*
 CURRENCY
*/

CREATE TEMP TABLE tmpcurrency AS SELECT * FROM currency WITH NO DATA;

COPY tmpcurrency FROM STDIN CSV HEADER;
{% include currency %}

\.

INSERT INTO currency
  SELECT  *
  FROM tmpcurrency
ON CONFLICT (id) DO
UPDATE
  SET
    countryid = EXCLUDED.countryid,
    currency = EXCLUDED.currency,
    "currency code" = EXCLUDED."currency code";

DROP TABLE tmpcurrency;